@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

body {
	text-decoration: none;
	background-color: #020202;
	color: white;
}

a,
Link {
	text-decoration: none;
}

.navbar {
	background-color: #c31328;
}

a.nav-link,
a.navbar-brand {
	color: white !important;
}

a.navbar-brand {
	font-family: "Rubik Dirt", cursive;
	font-size: 2.5rem;
}

.movie-card {
	border: none;
	padding: 0;
}

.movie-img {
	-webkit-box-shadow: 5px 5px 15px -2px #000000;
	box-shadow: 5px 5px 15px -2px #000000;
}

.grey-container {
	background-color: $dark;
	margin-top: 4rem;
	// border: 1px solid gray;
	border-radius: 7px;
	padding: 2rem;
}

.movie-text {
	text-decoration: none;
	color: white;
}

.movie-text:hover {
	color: red;
}

.genre-links {
	font-size: 1.7rem;
	text-decoration: none;
	color: #fff;
	text-align: center;
	background-color: #c31328;
	padding: 1.1rem;
	width: 16rem;
	border-radius: 2px;
	-webkit-box-shadow: 5px 5px 15px -2px #000000;
	box-shadow: 5px 5px 15px -2px #000000;
}

.genre-links:hover {
	color: #fff;
	background-color: #9c1c2b;
}
