@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
	text-decoration: none;
	background-color: #020202;
	color: white;
}

h2,
h1 {
	font-family: "Teko", sans-serif;
	font-size: 2.5rem;
}

h3,
h4 {
	font-family: "Teko", sans-serif;
	font-size: 1.8rem;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
}

a,
Link {
	text-decoration: none;
}

.navbar {
	background-color: #c31328;
}

a.nav-link,
a.navbar-brand {
	color: white !important;
}

a.nav-link {
	font-family: "Teko", sans-serif;
	font-size: 1.5rem;
}

a.nav-link:hover {
	background-color: #9c1c2b;
	color: $warning;
}

a.navbar-brand {
	font-family: "Rubik Dirt", cursive;
	font-size: 2.5rem;
}

.movie-card {
	border: none;
	padding: 0;
}

.movie-img {
	-webkit-box-shadow: 5px 5px 15px -2px #000000;
	box-shadow: 5px 5px 15px -2px #000000;
}

.grey-container {
	background-color: $dark;
	margin-top: 4rem;
	border-radius: 7px;
	padding: 2rem;
}

.movie-text {
	font-family: "Roboto", sans-serif;
	font-size: 1.1rem;
	text-decoration: none;
	color: white;
}

.movie-text:hover {
	color: #c31328;
}

.genre-links {
	font-family: "Teko", sans-serif;
	font-size: 1.9rem;
	text-decoration: none;
	color: #fff;
	text-align: center;
	background-color: #c31328;
	padding: 1.1rem;
	width: 16rem;
	border-radius: 2px;
	-webkit-box-shadow: 5px 5px 15px -2px #000000;
	box-shadow: 5px 5px 15px -2px #000000;
}

.genre-links:hover {
	color: #fff;
	background-color: #9c1c2b;
}

.star {
	font-size: 1.8rem;
	margin-bottom: 1.1rem;
	color: #f6c515;
}

.smallstar {
	font-size: 1rem;
	color: #f6c515;
	margin-bottom: 1.4rem;
}

.score {
	text-decoration: none;
	color: white;
}

.score-text {
	font-size: 1rem;
	color: rgb(162, 160, 160);
}
