@import "bootstrap/scss/bootstrap";

body {
	text-decoration: none;
	background-color: #020202;
	color: white;
}

a,
Link {
	text-decoration: none;
}

.navbar {
	background-color: $warning;
}

Nav {
	color: white;
}

.movie-card {
	border: none;
	padding: 0;
}

.grey-container {
	background-color: $dark;
	margin-top: 4rem;
	border: 1px solid gray;
	border-radius: 2rem;
	padding: 2rem;
}

.movie-text {
	text-decoration: none;
	color: white;
}

.movie-text:hover {
	color: red;
}
